apparmor==2.13.2
appdirs==1.4.3
asn1crypto==0.24.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cmdln==2.0.0
configobj==5.0.6
crit==0.0.1
cryptography==2.5
cssselect==1.0.3
cupshelpers==1.0
decorator==4.3.0
Flask==1.0.2
idna==2.7
ipaddr==2.1.11
isc==2.0
itsdangerous==1.1.0
Jinja2==2.10
LibAppArmor==2.13.2
libvirt-python==5.0.0
libxml2-python==2.9.9
lxml==4.2.5
MarkupSafe==1.1.1
ndg-httpsclient==0.4.0
nltk==3.4
packaging==17.1
ply==3.11
protobuf==3.6.1
py==1.7.0
pyasn1==0.4.5
pycparser==2.19
pycups==1.9.73
pycurl==7.43.0.2
PyGObject==3.30.4
pyOpenSSL==18.0.0
pyparsing==2.3.1
PySocks==1.6.8
python-linux-procfs==0.6
pyudev==0.21.0
requests==2.21.0
rpm==4.14.2.1
singledispatch==3.4.0.3
six==1.12.0
slip==0.6.5
slip.dbus==0.6.5
urllib3==1.24.1
Werkzeug==0.14.1
