<html>
<head>
	<title>Welcome to my realm</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='jquery-linedtextarea.js')}}"></script>
	<link href="{{ url_for('static', filename='jquery-linedtextarea.css')}}" type="text/css" rel="stylesheet" />
</head>
<body>

<h1>Enter your proof below</h1>
<form method="POST">
	<input type="button" value="∧" />
	<input type="button" value="∨" />
	<input type="button" value="⇒" />
	<input type="button" value="⇔" />
	<input type="button" value="∀" />
	<input type="button" value="∃" />
	<input type="button" value="∄" />
	<input type="button" value="∴" />
	<input type="button" value="∵" />
	<input type="button" value="⋃" />
	<input type="button" value="⋂" />
	<input type="button" value="∈" />
	<input type="button" value="∉" />
	<input type="button" value="⊆" />
	<input type="button" value="⊈" />
	<input type="button" value="⊂" />
	<input type="button" value="⊄" />
	<textarea id="text" itemprop="description" name="text" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false" style="width: 100%; height: 90%" wrap="off"></textarea>
    <input type="submit">
</form>
<script>
$(function() {
		$("#text").linedtextarea();
	});

$( 'input[type=button]' ).on('click', function(){
   	$("#text").insertIntoTextArea($(this).val());
});

$.fn.insertIntoTextArea = function(textToInsert) {
    return this.each(function () {
        var txt = $(this);
        var cursorPosStart = txt.prop('selectionStart');
        var cursorPosEnd = txt.prop('selectionEnd');
        var v = txt.val();
        var textBefore = v.substring(0,  cursorPosStart);
        var textAfter  = v.substring(cursorPosEnd, v.length);
        txt.val(textBefore + textToInsert + textAfter);
        txt.prop('selectionStart', cursorPosStart);
        txt.prop('selectionEnd', cursorPosStart + textToInsert.length);
        txt.focus();
    });
}

</script>
</body>
</html>
